:root
{
    --headBG:#ffff;
}
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    width:100vw;
    height:100vh;
    background-color: #4444;
}
.container
{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-cotainer
{
    width:60%;
    height:80%;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 8px 10px 10px #4444; */
}
.head-area
{
    width:100%;
    height:8%;
    /* background-color: lightslategray; */
    background-color: var(--headBG);
    border-radius: 10px 10px 0 0;
}
.side-area
{
    width:20%;
    height:100%;
    background-color: var(--headBG);
    /* background-color: lightpink; */

    padding:20px;
}
.side-area .side-area-user
{
    display: flex;
    flex-direction: column;
    width:100%;
    height:30%;
}
.side-area-user .side-area-user-image
{
    width:100%;
    height:70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-area-user-image .circle-shape
{
    width:62%;
    height:85%;
    background-color: #4444;
    border-radius: 50%;
}
.side-area-user .side-area-user-name
{
    width:100%;
    height:20%;
    text-align: center;
    color:#444;
}
.side-area-functions
{
    width:100%;
    height:70%;
    display: flex;
    flex-direction: column;
}
.side-area-functions .functions
{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.main-area
{
    width:100%;
    height:100%;
    display: flex;
    /* background-color: lightseagreen; */
    background-color: var(--headBG);
}
.todo-area
{
    width:80%;
    height:100%;
    padding:10px;
    overflow: auto;
}
.todo-area .todolist
{
    width:100%;
    height:100%;
}
.head-area
{
    display: flex;
    box-shadow: 0px 15px 20px 0.5px #4444;
    z-index: 1000000;
}
.head-area-logo
{
    width:20%;
    height:100%;
    /* background-color: aqua; */
    background-color: var(--headBG);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 3vh;
    border-top-left-radius: 10px;
}
.head-area-typing
{
    width: 55%;
    height:100%;
    /* background-color: lightgoldenrodyellow; */
    background-color: var(--headBG);
    padding:10px;
}
.head-area-typing input
{
    width:100%;
    padding:10px;
    background: none;
    border:1px solid lightgray;
    border-radius: 5px;
}
.head-area-menu
{
    width:25%;
    height:100%;
    display: flex;
}
.head-area-menu .add-button
{
    width:15%;
    height:100%;
    /* background-color: lightsteelblue; */
    background-color: var(--headBG);
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-area-menu .deleteAll-button
{
    width:15%;
    height:100%;
    /* background-color: blue; */
    background-color: var(--headBG);
    display: flex;
    justify-content: center;
    align-items: center;
}
.counting
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:gray;   
}
.counting .counting-content
{
    margin:3px;
}
.todolist .list-single
{
    width:100%;
    height:8%;
    display: flex;
    margin-top:10px;   
    transition: 0.5s ease;
}
.todolist li
{
    width:69%;
    height:100%;
    border:1px solid #4444;
    border-radius: 5px;
    padding:10px;
    list-style: none;
    cursor: pointer;
}
.todolist span
{
    font-size: 12px;
    /* font-weight: bold; */
    vertical-align: middle;
}
.todolist .menu-single
{
    width:31%;
    height:100%;
    display: flex;
    align-items: center;
}
.menu-single .menu-single-box1
{
    width:20%;
    height:100%;
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-single .single-clear
{
    background: #4285f4;
    color:#ffff;
    font-weight: bold;
    border:0px;
    animation-name: change_color;
    animation-duration: 0.5s;
}

.trashBtn
{
    color:gray;
    cursor: pointer;
}
@keyframes change_color
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

